{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ form(form) }}

    {% if explain %}
            <hr>
        The time zone {{ explain.timezoneName }} has {{ explain.timezoneOffset }} minutes offset to UTC on the given day at noon.<br />
        February in this year has {{ explain.isLeapYear ? 29 : 28 }} days.<br />
        The specified month {{ explain.currentMonth }} is {{ explain.currentMonthLength }} days long.
    {% endif %}
</div>
{% endblock %}
